# The base URL of your backend API
NEXT_PUBLIC_API_URL=http://localhost:5000/api/v1

# The MongoDB ObjectId of the Mario Game created in your database
NEXT_PUBLIC_MARIO_GAME_ID=your_production_mongodb_object_id_here
